
body {
    background-image: url("/public/img/background/cinema_bg.png");
    background-repeat: no-repeat;
    background-position: top center;
}

main.main-page {
    padding-bottom: 3em!important;
}
main header h1 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 2em;
    font-weight: bold;
}

#Signout {
    max-width: 450px;
}

main header .dropdown-menu {
    width: max-content;
    height: 250px;
}
.card-info {
    max-width: 180px;
    min-width: 150px;
}
.card-info h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-info h5 a:hover {
    color: #6c757d !important;
}
.bill-container {
    overflow: hidden;
}
img.card-img-top {
    transition: transform 0.3s ease;
}
.bill:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.pagination {
    --bs-pagination-color: var(--bs-gray);
    --bs-pagination-hover-color: var(--bs-yellow);
    --bs-pagination-focus-box-shadow: unset;
    --bs-pagination-focus-color: var(--bs-warning-text-emphasis);
    --bs-pagination-active-color: var(--bs-yellow);
    --bs-pagination-disabled-color: var(--bs-gray-dark);
    --bs-pagination-border-width: none;
    --bs-pagination-bg: unset;
    --bs-pagination-hover-bg: unset;
    --bs-pagination-focus-bg: unset;
    --bs-pagination-active-bg: unset;
    --bs-pagination-disabled-bg: unset;
}
.pagination .page-link:hover:not(span) {
    text-decoration: underline overline;
    text-underline-offset: 0.35em;
}
.pagination .page-link:not(a) {
    font-weight: bold;
    cursor: default;
}
body>footer {
    height: 3em;
    margin-top: 3em;
}

